/* =============== General styles =============== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;

}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2vw;
    color: #8B5CF6;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

.navbarcontainer-fluid {
    flex-wrap: nowrap;
}

/* =============== Index =============== */
.jumbotron {
    background-image:
        linear-gradient(to top right, #8B5CF6, #EC4899);
}

/* =============== Nav =============== */
.my-page-link {
    align-self: right;
}

/* =============== My feed =============== */

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* Following - Cards slider*/
.slider {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 1;
}

.slider h1 {
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    padding-top: 30px;
    position: relative;
    z-index: 3;

}

.item {
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 15vh;
    z-index: 2;
}


.item h1 {
    font-size: 1vw;
    ;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 100px;
    font-family: monospace;
    font-weight: bold;
    left: 10vw;

}

#next {
    left: unset;
    right: 10vw;
}

/* =============== creator_list / All creators =============== */
.all-creators {
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.creators-you-follow {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

/* Switch between Explore/Followed */



.creator-button {
    background-color: turquoise;
}

.active {
    background-color: tomato;
}

.unactive {
    background-color: turquoise;
}

/* Starts hidden  */
div.hidden,
.hidden {
    background-color: azure;
    display: none;
}

/* Click to Show  */
.shown {
    display: block;
}