{% extends 'base.html' %}

{% block title %}Creators You Follow{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3 creators-you-follow">
      <h1>Creators You Follow</h1>
      {% if followed_creators %}
      <ul>
        {% for creator in followed_creators %}
        <li>
          <a href="{% url 'creator_aboutme' creator.pk %}">{{ creator.user.username }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>You are not following any creators yet.</p>
      {% endif %}
      <a href="{% url 'creator_list' %}">Discover Creators</a>
      <a href="{% url 'personalized_feed' %}">View Your Feed</a>
    </div>
    <div class="col-md9">
      helooooooooooooooooooooooooooooooooooooooooooooooooooooooo
    </div>
  </div>
  
{% endblock %}
