/* =============== General styles =============== */
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.1rem !important;
    background-color: #f0f0f0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2vw;
    color: #8B5CF6;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* =============== Colors =============== */
.purple {
    background-color: #8B5CF6;
}

.pink {
    background-color: #EC4899;
}

/* =============== Index =============== */
.jumbotron-text {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    /*  left: 20%;*/
    /*  margin: auto;*/
    z-index: 1;
}

.jumbotron {
    background-image:
        linear-gradient(to top right, #8B5CF6, #EC4899);
}


#jumbotron-logo {
    width: 70%;
    max-width: 500px;
    z-index: 0;
}

/* =============== Nav =============== */
.my-page-link {
    align-self: right;
}

.navbarcontainer-fluid {
    flex-wrap: nowrap;
}

/* =============== My feed =============== */

.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* Following - Cards slider*/
.slider {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 1;
}

.slider h1 {
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    padding-top: 30px;
    position: relative;
    z-index: 3;

}

.item {
    box-sizing: content-box !important;
    position: absolute;
    width: 200px;
    height: 320px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 15vh;
    z-index: 2;
}

.item a h2 {
    font-family: "Rubik Mono One", monospace;
    color: #edebe6;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-weight: 200;
    font-size: 1.5rem;
    font-style: normal;
    margin: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.item h1 {
    font-size: 3vw;
    ;
}

#next,
#prev {
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 100px;
    font-family: monospace;
    font-weight: bold;
    left: 10vw;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    z-index: 999;
    outline: none;

}

#next {
    left: unset;
    right: 10vw;
}

/* =============== creator_list / All creators =============== */
.creators-row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-items: center;
}

.creators-btn-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


.creator-col {
    display: flex;
    margin: auto;
    justify-content: center;
}

.creator-item {
    box-sizing: content-box;
}

.creator-item a img {
    min-height: 188px;
    max-height: 188px;
    width: auto;
    max-width: 100%;

}

.card-body {
    max-height: 133px;
    min-height: 133px;
    box-sizing: content-box !important;

}

.card-body a h5 {
    font-family: "Rubik Mono One", monospace;
    color: #edebe6;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: normal;
    margin: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

}

/* Switch between Explore/Followed */



.creator-button {
    background-color: turquoise;
    font-size: large;
    margin-right: 20px;
}

.active {
    background-color: #EC4899;
}

.unactive {
    background-color: #ec489a7f;
}

/* Starts hidden  */
div.hidden,
.hidden {
    background-color: azure;
    display: none;
}

/* Click to Show  */
.shown {
    display: block;
}

/* =============== Post content =============== */


.post-body {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    max-height: 133px;
    min-height: 133px;
    margin: 20px;
}

.post-body img {
    max-width: 100%;
    max-height: 5vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* =============== Media Queries =============== */

/* Default font size */
.jumbotron-text {
    font-size: 4rem;
}

/* Smallest devices*/
@media (min-width: 0px) {
    .item {
        top: 5vh;
    }

    #next {
        right: 0vw;
    }

    #prev {
        left: 0vw;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .jumbotron-text {
        font-size: 5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron-text {
        font-size: 6rem;
    }

    .item {
        top: 15vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .jumbotron-text {
        font-size: 7rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron-text {
        font-size: 8rem;
    }

    #next {
        right: 15vw;
    }

    #prev {
        left: 15vw;
    }
}