{% extends 'base.html' %}
{% load static %}
{% block title %}All Creators{% endblock %}

{% block content %}
    <h1 class="title">Creators</h1>
        <div class="row">
            <div class="col-md-3 creators-you-follow d-none d-md-block">
                <h1>Creators You Follow</h1>
                {% if followed_creators %}
                <ul>
                  {% for creator in followed_creators %}
                  <li>
                    <a href="{% url 'creator_aboutme' creator.pk %}">{{ creator.user.username }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <p>You are not following any creators yet.</p>
                {% endif %}
                <a href="{% url 'creator_list' %}">Discover Creators</a>
                <a href="{% url 'personalized_feed' %}">View Your Feed</a>
              </div>
            <div class="col-md-9 all-creators">
            {% for creator in creators %}
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'creator_aboutme' username=creator.user.username %}">
                        {% if creator.avatar %}
                            <img class="card-img-top" src="{{ creator.avatar.url }}" alt="{{ creator.user.username }}'s avatar" class="avatar">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/placeholderavatar.png' %}" alt="{{ creator.user.username }}'s avatar" class="avatar">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <a href="{% url 'creator_aboutme' username=creator.user.username %}">
                            <h5 class="card-title">{{ creator.user.username }}</h5>
                        </a>
                        <p class="card-text">{{ creator.about_me|truncatewords:20 }}</p>
                    </div>
                </div>
            
            {% endfor %}
            </div>
        </div>
{% endblock %}
