{% extends 'base.html' %}
{% load static %}
{% block title %}Creators You Follow{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <div class="slider">
    {% for creator in creators %}
      <div class="item">
        <a href="{% url 'creator_aboutme' username=creator.user.username %}">
          {% if creator.avatar %}
            <img class="card-img-top" src="{{ creator.avatar.url }}" alt="{{ creator.user.username }}'s avatar" class="avatar">
          {% else %}
              <img class="card-img-top" src="{% static 'images/placeholderavatar.png' %}" alt="{{ creator.user.username }}'s avatar" class="avatar">
          {% endif %}
          <h2>{{ creator.user.username }}</h2>
        </a>
        <p>{{ creator.about_me|truncatewords:20 }}</p>
      </div>
    {% endfor %}
    <button id="prev"><</button>
    <button id="next">></button>
  </div>
</div>
{% endblock %}
