{% extends 'base.html' %}
{% load static %}
{% block title %}Feed{% endblock %}

{% block content %}
  <h1>Your Personalized Feed</h1>
  {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <h3>
          <a href="{% url 'post_detail' pk=post.id %}">Post by {{ post.creator.user.username }}</a>
        </h3>
        <p>{{ post.content|truncatewords:30 }}</p>
        <small>Posted on: {{ post.created_at }}</small>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts in your feed. Try following some creators!</p>
  {% endif %}
  <a href="{% url 'followed_creators' %}">Creators You Follow</a>
  <a href="{% url 'creator_list' %}">Discover Creators</a>
{% endblock %}